# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.lscache
*.user

# Visual Studio 2015
.vs/
WebUi/package-lock.json
WebUi/.angular/

# dependencies
**/node_modules
/.pnp
.pnp.js