<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true">
      <!-- internalLogFile="logs/nlog.log" internalLogLevel="Error" -->

  <variable name="messageLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${scopeproperty:CorrelationId}] ${level:uppercase=true:padding=-5} ${logger} - ${trim-whitespace:inner=${message:padding=-4000:fixedLength=true}}" />

  <variable name="fileSize" value="40000000" />
  <variable name="file" value="5" />

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">

    <target name="logconsole" xsi:type="Console" layout="${messageLayout}" />

    <target name="dotnetlogfile" xsi:type="File"
            fileName="logs/dotnet.log"
            archiveAboveSize="${fileSize}"
            maxArchiveFiles="${file}"
            archiveNumbering="Rolling"
            layout="${messageLayout}" />

    <target name="logfile" xsi:type="File"
            fileName="logs/webapp.log"
            archiveAboveSize="${fileSize}"
            maxArchiveFiles="${file}"
            archiveNumbering="Rolling"
            layout="${messageLayout}" />

  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="logconsole" final="true" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="logconsole" final="true" />
    <logger name="Microsoft.*" final="true" />
    <logger name="LuckyPennySoftware.AutoMapper.License*" minlevel="Trace" final="true" />
    <logger name="LuckyPennySoftware.MediatR.License*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>